/* ABOUT PAGE */
.about {
    margin: 5%;
    display: flex;
}

.aboutImage {
    margin-top: 100px;
    max-width: 50%;
    height: auto;
}

.aboutCenter {
    text-align: center;
}

.aboutItem {
    flex: 1;
}

/* ABOUT PAGE CONTACT SECTION */
.contact {
    text-align: center;
    margin: 5%;
}

.contactItem {
    width: 50%;
}

.contactItemText {
    text-align: left;
}