/* || PROJECT ICONS */
.row {
    display: flex;
    flex-direction: row;
}

.project {
    transform: scale(1.0);
    flex: 1;
    max-width: 33.33%;
}

.project:hover {
    transform: scale(1.05);
}