/* || GENERAL STYLES */
body {
    background-color: rgb(190, 188, 252);
}

p {
    font-size: 18px;
    font-family: monospace;
}

h1 {
    font-family: monospace;
}

h2 {
    font-family: monospace;
}

/* || PROJECT IMAGES */
.image img {
    max-width: 100%;
}

.imageGroup {
    display: flex;
    flex-direction: row;
}

.languageLearningImage img {
    max-width: 50%;
    height: auto;
}

.dimensionPrisonImage {
    max-width: 50%;
    height: auto;
    margin: 2%;
}
