.languageLearningImage img {
    max-width: 50%;
    height: auto;
}

.image img {
    max-width: 100%;
}

.imageGroup {
    display: flex;
    flex-direction: row;
}

.center {
    margin: 5% 10% 5% 10%;
    text-align: center;
}