.row {
    display: flex;
    flex-direction: row;
}

.project {
    flex: 1;
    max-width: 33.33%;
}

.about {
    display: flex;
    flex-direction: row;
}

img {
    max-width: 80%;
    height: auto;
}