.row {
    display: flex;
    flex-direction: row;
}

.project {
    transform: scale(1.0);
    flex: 1;
    max-width: 33.33%;
}

.project:hover {
    transform: scale(1.05);
}
.about {
    display: flex;
    flex-direction: row;
    margin: 5%
}

.section {
    max-width: 50%;
    margin: auto;
}

.center {
    margin: 5% 10% 5% 10%;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 1%;
}

.navbarItem {
    margin: 1%;
}

.aboutImage {
    max-width: 30%;
    height: auto;
}

img {
    max-width: 80%;
    height: auto;
}

h1 {
    font-family: monospace;
}

h2 {
    font-family: monospace;
}

h3 {
    font-family: monospace;
}

p {
    font-size: 18px;
    font-family: monospace;
}

body {
    background-color: rgb(190, 188, 252);
}