/* || GENERAL STYLES */
body {
    background-color: rgb(190, 188, 252);
}

p {
    font-size: 18px;
    font-family: monospace;
}

h1 {
    font-family: monospace;
}

h2 {
    font-family: monospace;
}

h3 {
    font-family: monospace;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

img {
    max-width: 80%;
    height: auto;
}

button {
    border-radius: 7px;
    font-family: monospace;
    font-size: 15px;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 1%;
}

.navbarItem {
    margin: 1%;
}

/* GENERAL */
.center {
    margin: 5% 10% 5% 10%;
    text-align: center;
}

.section {
    max-width: 75%;
    margin: auto;
}
